POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=kkbox
POSTGRES_USER=kkbox
POSTGRES_PASSWORD=kkbox

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=kkbox-churn-poc
MLFLOW_MODEL_NAME=kkbox_churn_xgboost
MLFLOW_ARTIFACT_BUCKET=mlflow

MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

KKBOX_TRAIN_CSV=/data/train_v2.csv/data/churn_comp_refresh/train_v2.csv
KKBOX_MEMBERS_CSV=/data/members_v3.csv/members_v3.csv
KKBOX_TRANSACTIONS_CSV=/data/transactions_v2.csv/data/churn_comp_refresh/transactions_v2.csv
KKBOX_USER_LOGS_CSV=/data/user_logs_v2.csv/data/churn_comp_refresh/user_logs_v2.csv
